Q1

In [1]:
import re

In [2]:
string1="The goal is to turn data into information, and information into insight"
x=re.findall("[a-zA-Z]",string1)
print(x)

['T', 'h', 'e', 'g', 'o', 'a', 'l', 'i', 's', 't', 'o', 't', 'u', 'r', 'n', 'd', 'a', 't', 'a', 'i', 'n', 't', 'o', 'i', 'n', 'f', 'o', 'r', 'm', 'a', 't', 'i', 'o', 'n', 'a', 'n', 'd', 'i', 'n', 'f', 'o', 'r', 'm', 'a', 't', 'i', 'o', 'n', 'i', 'n', 't', 'o', 'i', 'n', 's', 'i', 'g', 'h', 't']

Q1

In [4]:
import re

In [6]:
string2="Ambani phone number9996667350,company is of 300 billion $"
pattern="a-zA-z0-9"
x=re.findall("[a-zA-Z0-9]",string2)
print(x)

['A', 'm', 'b', 'a', 'n', 'i', 'p', 'h', 'o', 'n', 'e', 'n', 'u', 'm', 'b', 'e', 'r', '9', '9', '9', '6', '6', '6', '7', '3', '5', '0', 'c', 'o', 'm', 'p', 'a', 'n', 'y', 'i', 's', 'o', 'f', '3', '0', '0', 'b', 'i', 'l', 'l', 'i', 'o', 'n']

In [8]:
string2="Ambani phone number9996667350,company is of 300 billion $"
pattern="[a-zA-z0-9]"
x=re.findall(pattern,string2)
print(x)

['A', 'm', 'b', 'a', 'n', 'i', 'p', 'h', 'o', 'n', 'e', 'n', 'u', 'm', 'b', 'e', 'r', '9', '9', '9', '6', '6', '6', '7', '3', '5', '0', 'c', 'o', 'm', 'p', 'a', 'n', 'y', 'i', 's', 'o', 'f', '3', '0', '0', 'b', 'i', 'l', 'l', 'i', 'o', 'n']

Q2

In [21]:
string3="ab abbb ab aba bbb"
x=re.findall("a*b",string3)
print(x)

['ab', 'ab', 'b', 'b', 'ab', 'ab', 'b', 'b', 'b']

Q3

In [23]:
string4="ab abbb aa aba bbb"
x=re.findall("a*b+",string4)
print(x)

['ab', 'abbb', 'ab', 'bbb']

Q4

In [24]:
string5="abb aba ac aa abbb cba bbb"
x=re.findall("ab?",string5)
print(x)

['ab', 'ab', 'a', 'a', 'a', 'a', 'ab', 'a']

Q5

In [25]:
string6="abbb abba aabb bbb bbba ababb abbb"
x=re.findall("ab{3}",string6)
print(x)

['abbb', 'abbb']

Q6

In [26]:
text="Life Is Like Riding A Bicycle. To Keep Your Balance, You Must Keep Moving."
pattern="\s"
x=re.split(pattern,text)
print(x)

['Life', 'Is', 'Like', 'Riding', 'A', 'Bicycle.', 'To', 'Keep', 'Your', 'Balance,', 'You', 'Must', 'Keep', 'Moving.']

Q7

In [27]:
string="abb abbb abbbb abb abbb abbbbb abbbbbb ab"
pattern="ab{2,3}"
x=re.findall(pattern,string)
print(x)

['abb', 'abbb', 'abbb', 'abb', 'abbb', 'abbb', 'abbb']

Q8

In [1]:
import re

In [11]:
text = "hello python world"
pattern = re.compile(r"'([a-z]+_[a-z]+)'")
for match in pattern.finditer(text):
    print(match.group(0))

Q9

In [10]:


def match_pattern(string):
    pattern = r'a.*b$'
    match = re.match(pattern, string)
    if match:
        print(f"The string '{string}' matches the pattern.")
    else:
        print(f"The string '{string}' does not match the pattern.")
        
test_strings = ['abd', 'apqrb', 'ahb', 'abhd', 'abbb']
for string in test_strings:
    match_pattern(string)

The string 'abd' does not match the pattern.
The string 'apqrb' matches the pattern.
The string 'ahb' matches the pattern.
The string 'abhd' does not match the pattern.
The string 'abbb' matches the pattern.

Q10

In [14]:
string="If we have data, let's look at data."
pattern="^\w+"
x=re.search(pattern,string)
print(x)
print(x.group())

<re.Match object; span=(0, 2), match='If'>
If

Q11

In [15]:
def match_pattern(string):
    pattern = r'^[a-zA-Z0-9_]+$'
    match = re.match(pattern, string)
    if match:
        print(f"The string '{string}' matches the pattern.")
    else:
        print(f"The string '{string}' does not match the pattern.")
test_strings = ['Hello_World', '123abc', 'Python3', 'username_', 'data science']
for string in test_strings:
    match_pattern(string)

The string 'Hello_World' matches the pattern.
The string '123abc' matches the pattern.
The string 'Python3' matches the pattern.
The string 'username_' matches the pattern.
The string 'data science' does not match the pattern.

Q12

In [16]:

def starts_with_number(string, number):
    if string.startswith(str(number)):
        print(f"The string '{string}' starts with the number {number}.")
    else:
        print(f"The string '{string}' does not start with the number {number}.")

test_strings = ['123abc', '456def', '789xyz', 'hello123']
number_to_match = 123

for string in test_strings:
    starts_with_number(string, number_to_match)

The string '123abc' starts with the number 123.
The string '456def' does not start with the number 123.
The string '789xyz' does not start with the number 123.
The string 'hello123' does not start with the number 123.

Q13

In [19]:
substitute=re.sub(r"[0]+",r'.','2340976045067')
print(substitute)

234.976.45.67

Q14

In [20]:
text="the republic day of India marks and celebrates the date on whic the constitution of India came in to effect on 26 january 1950"
pattern="\d{2}.[a-z]+.\d{4}"
x=re.findall(pattern,text)
print(x)

['26 january 1950']

Q16

In [1]:
import re

In [2]:
text='The five boxing wizards jumped quickly.'
pattern='wizards'
match = re.search(pattern, text)
s = match.start()
e = match.end()
print('Found "%s" in "%s" from %d to %d ' % \
    (match.re.pattern, match.string, s, e))

Found "wizards" in "The five boxing wizards jumped quickly." from 16 to 23

Q15

In [3]:
import re
patterns = [ 'fox', 'wizards', 'cat' ]
text = 'The five boxing wizards jumped quickly.'
for pattern in patterns:
    print('Searching for "%s" in "%s" ->' % (pattern, text),)
    if re.search(pattern,  text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox" in "The five boxing wizards jumped quickly." ->
Not Matched!
Searching for "wizards" in "The five boxing wizards jumped quickly." ->
Matched!
Searching for "cat" in "The five boxing wizards jumped quickly." ->
Not Matched!

Q19

In [4]:
def format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2023-07-14"
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",format(dt1))

Original date in YYY-MM-DD Format:  2023-07-14
New date in DD-MM-YYYY Format:  14-07-2023

Q20

In [5]:
text="We make no assurances that pickling an estimator in one version will allow it to be unpickled to an equivalent model in the subsequent version."
pattern="[ae]\w+"
x=re.findall(pattern,text)
print(x)

['ake', 'assurances', 'at', 'an', 'estimator', 'ersion', 'allow', 'ed', 'an', 'equivalent', 'el', 'equent', 'ersion']

Q21

In [7]:
text="Virat Kohli has scored 75 centuries in international cricket as of May 2023. "
pattern="\d+"
for m in re.finditer("\d+", text):
    print(m.group(0))
    print("Index position:", m.start())

75
Index position: 23
2023
Index position: 71

Q23

In [9]:
def capital_words(str1):
    return re.sub(r"(\w)([A-Z])", r"\1 \2", str1)

print(capital_words("Apple"))
print(capital_words("EatOneAppleADay"))
print(capital_words("AnAppleADayKeepsDoctorAway"))

Apple
Eat One Apple ADay
An Apple ADay Keeps Doctor Away

Q24

In [10]:
def match(text):
        patterns = '[A-Z]+[a-z]+$'
        if re.search(patterns, text):
                return 'Found a match!'
        else:
                return('Not matched!')
print(match("CatBat"))
print(match("Machien"))
print(match("apple"))
print(match("BANANA"))
print(match("rat"))
print(match("Mat"))

Found a match!
Found a match!
Not matched!
Not matched!
Not matched!
Found a match!

Q25

In [12]:
string="Hello Hello Alex How are are you"
pattern="r\b(\w+)(?:\W+\1\b)+"
x=re.sub(pattern,r'\1',string,flags=re.IGNORECASE)
print(x)

Hello Hello Alex How are are you

Q26

In [13]:
import re

In [15]:
pattern = '[a-zA-z0-9]$'

def string(my_string):
    if(re.search(pattern, my_string)):
        print("The string ends with alphanumeric character")
    else:
        print("The string doesnot end with alphanumeric character")


my_string_1 = "Python@"
print(my_string_1)
string(my_string_1)

my_string_2 = "Python1245"
print(my_string_2)
string(my_string_2)

Python@
The string doesnot end with alphanumeric character
Python1245
The string ends with alphanumeric character

Q27

In [16]:
text=" python is wonderful language for #Datascience,#DataAnalyst"
textlist=text.split()
for i in textlist:
    if(i.startswith("#")):
        x = i.replace("#", '')
        print(x)

Datascience,DataAnalyst

Q28

In [18]:
text=" @jags12345 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+))82> Those who are protesting for #Demonitization are all differnet party leaders"
x=re.sub('<.*?>', '', text)
print(x)

 @jags12345 Bharat band on 28?? Those who are protesting for #Demonitization are all differnet party leaders

Q29

In [19]:
with open(r"c:\riddhi\jigar\date.txt")as file:
    for line in file:
        x=re.findall('\d{2}-\d{2}-\d{4}',line)
        print(x)

['12-09-1992', '15-12-1999']

Q30

In [21]:
text = 'Python Exercises, PHP exercises.'
x=re.sub("[ ,.]", ":", text)
print(x)

Python:Exercises::PHP:exercises: